* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
  width: 100%;
  font-family: 'Times New Roman', Serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
}

/*header, main {
  display: none;
}

div.intro {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}*/

h1.intro-studio {
  font-size: 300px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  color: #FFFFFF;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  transition: all 2s;
}

h1.intro-bergini {
  font-size: 300px;
  display: none;
  margin: 0 auto;
  position: relative;
  top: 50%;
  color: #000000;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  transition: all 2s;
}

div.sidebar {
  z-index: 25;
  width: 33.3%;
  height: 100vh;
  background: #000000;
  position: fixed;
    left: -33.3%;
    top: 0;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
}

div.centered {
  padding: 75px 15px 0px 15px;
}

.hidden-header {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 15px #ffffff;
  -moz-box-shadow: 0px 10px 15px #ffffff;
  box-shadow: 0px 10px 15px #ffffff;
}

header {
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 60px;
}

nav.left-navigation {
  display: inline-block;
  width: 33.3%;
  background-color: #FFFFFF;
  padding: 15px 7.5px 15px 15px;
}

nav.right-navigation {
  display: inline-block;
  width: 66.6%;
  float: right;
  background-color: #FFFFFF;
  padding: 15px 15px 15px 7.5px;
}

nav.left-navigation.open-menu-nav {
  background-color: transparent;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  transition: background-color 0.1s;
}

nav.left-navigation.close-menu-nav {
  background-color: #FFFFFF;
  -webkit-transition: background-color 0.20s linear 0.35s;
  -moz-transition: background-color 0.20s linear 0.35s;
  transition: background-color 0.20s linear 0.35s;
}

ul {
  text-align: left;
  height: 30px;
}

li {
  line-height: 30px;
  display: inline-block;
}

li.project-nav {
  padding-left: 2.5px;
}

a.project-link:hover {
  text-decoration: underline;
}

a.project-link.active {
  text-decoration: underline;
}

#details-nav {
  cursor: default;
}

li.first-right {
  padding-left: 15px;
}

li.right-item {
  float: right;
}

li.arrow-item {
  margin-left: 10px;
}

li.image-item {
  float: right;
}

a {
  color: #000000;
  text-decoration: none;
}

.menu-arrow {
/*  line-height: 30px;
  font-size: 20px;*/
  color: #000000;
  cursor: pointer;
  display: block;
}

.open-menu {
  color: #FFFFFF;
  opacity: 1;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: color 0.5s, transform 0.75s, opacity 0.75s;
  -moz-transition: color 0.5s, transform 0.75s, opacity 0.75s;
  transition: color 0.5s, transform 0.75s, opacity 0.75s;
}

.close-menu {
  color: #000000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: color 0.75s, transform 0.75s, opacity 0.75s;
  -moz-transition: color 0.75s, transform 0.75s, opacity 0.75s;
  transition: color 0.75s, transform 0.75s, opacity 0.75s;
}

.open-menu-link {
  color: #FFFFFF;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}

.close-menu-link {
  color: #000000;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}

section.about {
  height: 100%;
  padding: 115px 15px 15px 15px;
  background-color: #000000;
  text-align: left;
}

h1.about-contact {
  color: #FFFFFF;
}

p.about-text {
  color: #FFFFFF;
  padding: 15px 0 0 0;
}

h6.about-credits {
  color: #FFFFFF;
  position: absolute;
  bottom: 15px;
}

section.project {
  width: 100%;
  height: calc(100vh - 75px);
  padding-bottom: 15px;
}

div.project-container {
  height: 580px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.project-top {
  display: none;
  width: 99.9%;
  text-align: right;
}

div.project-left {
  display: inline-block;
  width: 33.3%;
  text-align: left;
}

div.project-right {
  display: inline-block;
  width: 66.6%;
  float: right;
  text-align: left;
}

div.project-bottom {
  display: block;
  width: 100%;
  clear: both;
  text-align: left;
  position: absolute;
  bottom: 0;
}

div.my-slider {
  height: 450px;
}

div.unslider {
  height: 450px;
  position: relative;
  overflow: hidden;
}

a.unslider-arrow {
  top: 0;
  z-index: 15;
  width: 50%;
  height: 450px;
}

a.prev {
  cursor: pointer;
}

a.next {
  cursor: pointer;
}

p.text-left {
  padding-right: 7.5px; 
  color: #000000;
}

a.toggle-text {
  font-style: italic;
}

a.toggle-text:hover {
  text-decoration: underline;
}

a.toggle-text.open-menu-toggle {
  color: #FFFFFF;
}

a.toggle-text.close-menu-toggle {
  color: #000000;
  -webkit-transition: color 2s;
  -moz-transition: color 2s;
  transition: color 2s;
}

p.text-center {
  width: 49.5%;
  padding-right: 7.5px;
  padding-left: 7.5px;
  color: #000000;
  display: none;
}

p.text-right {
  width: 49.5%;
  padding-left: 7.5px; 
  color: #000000;
  display: none;
}

p.open-menu-text {
  color: #FFFFFF;
}

p.close-menu-text {
  color: #000000;
  -webkit-transition: color 2s;
  -moz-transition: color 2s;
  transition: color 2s;
}

img {
  position: relative;
  max-width: 100%;
  height: 450px;
  margin: 0 auto;
  padding: 0 7.5px;
  display: block;
}

h1.work-author {
  padding-top: 30px;
  padding-left: 35%;
  color: #000000;
}

h2.work-title {
  padding-left: 35%;
  color: #000000;
  font-style: italic;
}

h3.work-type {
  padding-bottom: 15px;
  padding-left: 35%;
  color: #000000;
}

/*div.project-right::selection,*/
p.text-left::selection,
p.text-center::selection,
p.text-right::selection,
h1.work-author::selection,
h2.work-title::selection,
h3.work-type::selection,
a.toggle-text::selection,
a.home-link::selection,
i.menu-arrow::selection,
img::selection {
  color: #FFFFFF; 
  background: #000000;
  text-shadow: none;
}

h1.about-contact::selection,
p.about-text::selection,
h6.about-credits::selection,
a.home-link.open-menu-link::selection,
i.menu-arrow.open-menu::selection {
  color: #000000; 
  background: #FFFFFF;
  text-shadow: none;
}