body {
  font-family: "Times New Roman", Serif;
}

#header-custom {
  background-color: #050505;
}

#overlay-custom {
  background-image: none;
  opacity: 0;
}

#title-custom {
  font-size: 200px;
  line-height: 300px;
  text-transform: capitalize;
  text-shadow: none;
}

/*div.container {
  background-color: red;
}*/