/*Generic*/

body {
  font-family: "Times New Roman", Serif;
}


/*Navbar*/

#nav-custom {
  font-family: "Times New Roman", Serif;
  height: 60px;
  padding: 0px;
}

#nav-custom.nav-archives {
  background: #FFFFFF;
  height: 65px;
}

#menu-logo {
  font-family: "Times New Roman", Serif;
  text-transform: capitalize;
  visibility: hidden;
  color: #FFFFFF;
}

#menu-logo.display {
  visibility: visible;
}

#menu-logo.nav-menu-logo {
  visibility: visible;
  color: #191919;
}

.navbar-nav>li>a {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  padding-top: 20px;
  text-transform: capitalize;
}

.navbar-dark .nav li a {
  color: #FFFFFF;
  padding-bottom: 5px;
}

.archives-navbar .nav li a {
  color: #191919;
  padding-bottom: 5px;
}

.archives-navbar .nav li a:hover {
  color: #191919;
}

.navbar-dark.nav-archives .nav li a:after {
  background-color: #191919; 
}

.navbar-dark .nav li a:after {
 background-color: #fff; 
}


.navbar-dark .nav li.active a {
  color: #AAAAAA !important;
}

#nav-custom.top-nav-collapse {
  background-color: #191919;
  border: none;
}

#nav-custom.top-nav-collapse li a {
  color: #FFFFFF;
}

.navbar-dark.top-nav-collapse .nav li a:after {
  margin-top: -5px;
  background-color: #FFFFFF;
}

.navbar-dark .nav li a.black {
  color: #FFFFFF;
}

.navbar-dark .nav li a.white {
  color: #191919;
}

.navbar-dark .nav li a.black:after {
 background-color: #FFFFFF; 
}

.navbar-dark .nav li a.white:after {
 background-color: #050505; 
}



/*Intro page*/

#header-custom {
  background-color: #191919;
}

#overlay-custom {
  background-image: none;
  opacity: 0;
}

#title-custom {
  font-size: 150px;
  line-height: 300px;
  text-transform: capitalize;
  text-shadow: none;
}

section {
  background-color: #FFFFFF;
}

#work {
  padding: 50px;
  min-height: calc(100vh - 115px);
}

#project1 {
  background-color: #F8F8F8;
}

h2.section-title {
  font-family: "Times New Roman", Serif;
  color: #333333;
  letter-spacing: 1px;
  text-transform: uppercase;
}

hr.primary {
  border-top: 6px solid #191919;
}

p.section-paragraph {
  color: #333333;
}

p.important-paragraph {
  font-size: 20px;
}

a.section-link {
  color: #191919;
  font-weight: bold;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

a.section-link:hover {
  border-bottom: 1px solid #191919;
}

/*Footer*/

#custom-footer {
  text-align: center;
  background-color: #191919;
}

#custom-footer-text {
  color: #E0E0E0;
}


/*Archives*/

button.btn-primary {
  background-color: #333333;
  border-color: #191919;
}

button.btn-primary:hover {
  background-color: #191919;
  border-color: #191919;
}

button.btn-primary.active {
  background-color: #191919;
  border-color: #191919;
}

.owl-buttons {
  display: none;
}


/*Archives Modals*/

.portfolio-modal .row.first {
  margin-top: 60px;
}

.close-modal {
  margin-right: 35px;
  z-index: 10;
}

.portfolio-modal .close-modal .lr,
.portfolio-modal .close-modal .lr .rl {
  background-color: #191919;
}

h2 {
  font-family: "Times New Roman", Serif;
  text-transform: uppercase;
}

h2.page-header, h3 {
  font-family: "Times New Roman", Serif;
  color: #333333;
}

p {
  font-family: "Times New Roman", Serif;
  color: #333333;
}