* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
  overflow: hidden;
  cursor: default;
  width: 100%;
  font-family: 'Times New Roman', Serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.sidebar {
  z-index: -1;
  width: 33.3%;
  height: 100vh;
  background: #000000;
  position: absolute;
    left: -33.3%;
    top: 0;
  -webkit-transition: left 0.5s;
}

div.centered {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  padding-bottom: 150px;
}

nav {
  z-index: 2;
  height: 100px;
  padding: 15px;
  background-color: transparent;
}

ul {
  text-align: left;
  height: 30px;
}

li {
  line-height: 30px;
  display: inline-block;
}

li.right-item {
  float: right;
}

li.arrow-item {
  display: block;
}

a {
  color: #000000;
  text-decoration: none;
}



.fa-long-arrow-right {
  margin-top: 10px;
  line-height: 30px;
  font-size: 20px;
  color: #000000;
  float: left;
  cursor: pointer;
  display: block;
}

.open-menu {
  color: #FFFFFF;
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: color 0.75s, transform 0.75s, opacity 0.75s;
  opacity: 1;
}

.close-menu {
  color: #000000;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: color 0.75s, transform 0.75s, opacity 0.75s;
  opacity: 1;
}

.open-menu-link {
  color: #FFFFFF;
  -webkit-transition: color 0.75s;
}

.close-menu-link {
  color: #000000;
  -webkit-transition: color 0.75s;
}